

.about__info {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about__head {
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    border: 3px solid rgb(220, 202, 202);
    border-radius: 1rem;
    
}

.about__info {
    margin-left: 10rem;
}

.about__info__img img {
    width: 50%;
    border-radius: 0.75rem;
}